<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>write</title>
</head>
<body>
    <%- include("header.ejs") %>
    <main>
        <form action="/submit" method="POST">
            <textarea name="title" placeholder="Title" id="titleBox" required></textarea><br>
            <textarea name="blog" placeholder="Get Started with your Blog!!" id="textbox" required></textarea><br>
            <input class="btn btn-primary" type="submit" value="Post It">
        </form>
    </main>
    <%- include("footer.ejs") %>
    
    <script src="/js/write.js"></script>
</body>
</html>